$color-gray: #e6e6e6;
$color-light: #f5f5f5;
$color-white: #ffffff;

$shadow-superlight: 0 0 20px #00000020;
$shadow-light: 0 0 20px #0000002b;

$round-lg: 15px;
$round-xl: 25px;

$sidebar-width: 224px;

//layers
$layers-default: 1;
$layers-header: 900;
$layers-sidebar: 1000;

//sizes
$header-height: 60px;

//mixins